@charset "utf-8";

* { font-family: Verdana, Geneva, sans-serif }
body { background-color: #bcbcbc }
.selectbox, .form-text { padding: 4px; font-size: 16px }
#contGenId { width: 640px; height: 300px; font-size: 16px; line-height: 140%; overflow: scroll; overflow-x: hidden; margin: 5px; resize: none }

/* FOOTER */
.footer { font-size: 12px; text-align: right }
.footer a { color: inherit; text-decoration: none }
.footer a:hover { color: #ffffff }
